.head-text {
  text-align : left;
  padding: 5px 0 10px 5px;
}
.rock-img {
  width: 76%;
  background: #948e8e1a;
}

.filt-btn {
  width: 30%;
  border: none;
  margin: 20px;
  background: #92e4af;
  border-radius: 4px;;
}
.btm-border {
  border-bottom: 2px solid grey;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.inner-left {
  width: 88%;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
} 
.rock-body p span {
  color: #226db9;
}

.rock-body {
  padding-right: 0px !important;
}

.rock-card {
  background: #fff;
  border-radius: 10px;
  padding-top: 10px;
}


@media screen and (max-width: 767px) {
   .container{
     padding-right: 0px !important;
     margin-right: 0px !important;
   }
   .filter-section {
     padding-right: 0px !important;
   }
   .rock-img {
      width: 54%;
      display: block;
      margin: 0 auto;
  }
  .rock-card p {
    text-align: center;
  }
  
}